
 <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addModalProduct">
        <i class="fa fa-plus"></i> Add Product
    </button>

@if (isLoading()) {
  <div class="loading">
    Cargando...
  </div>
} @else if (errorMessage()) {
  <div class="error">
    Error al cargar los productos: {{ errorMessage().error.message }} {{errorMessage().status}} {{errorMessage().message}}
  </div>
} @else {
  <table class="table table-striped">
    <thead>
      <tr>
        <th>NombrePrudcuto</th>
        <th>Precio</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products(); track product.id) {
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button class="btn btn-dark btn-sm" (click)="deleteProduct(product.id)">
              ❌ Delete
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td class="text-center">No se encontraron permisos.</td>
        </tr>
      }
    </tbody>
  </table>
}


<div class="modal fade" id="addModalProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog draggable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-center">
                <h4 class="modal-title w-100 text-white" id="exampleModalLabel">Add Product</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="productDetail">
                    <div class="mb-3">
                        <input type="text" formControlName="name" class="form-control" id="name"
                            placeholder="product name" required>
                    </div>

                    <div class="mb-3">
                        <input type="number" formControlName="price" class="form-control" id="price"
                            placeholder="product price" required>
                    </div>

                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"> <i
                                class="fa fa-times-circle"></i>Cancelar</button>
                        <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal"
                            (click)="newProduct()"><i class="fa fa-save"></i>Agregar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>